In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('letterbxd_scrapped.csv')

In [3]:
df.head(10)

,Movie Name,Genre,Studio,Country,Primary Language,Release Year,Duration,Avg Rating,Raters,Fans,Watched,Lists,Likes
0,Barbie,Comedy,LuckyChap Entertainment,UK,English,2023,\n\t\t\t\t\t\n\t\t\t\t\t114 mins,3.86,"2,980,018 ratings",26K fans,"3,658,001 members","448,304 lists","1,586,062 members"
1,Parasite,Comedy,Barunson E&A,South Korea,Korean,2019,\n\t\t\t\t\t\n\t\t\t\t\t133 mins,4.56,"2,844,133 ratings",90K fans,"3,801,915 members","521,089 lists","2,176,138 members"
2,Everything Everywhere All at Once,Science Fiction,IAC Films,USA,English,2022,\n\t\t\t\t\t\n\t\t\t\t\t140 mins,4.30,"2,345,715 ratings",130K fans,"2,908,165 members","494,949 lists","1,473,174 members"
3,Fight Club,Drama,Fox 2000 Pictures,Germany,English,1999,\n\t\t\t\t\t\n\t\t\t\t\t139 mins,4.27,"2,568,765 ratings",114K fans,"3,726,744 members","415,981 lists","1,719,180 members"
4,La La Land,Drama,Summit Entertainment,Hong Kong,English,2016,\n\t\t\t\t\t\n\t\t\t\t\t129 mins,4.09,"2,285,536 ratings",204K fans,"3,199,145 members","462,742 lists","1,422,472 members"
5,Oppenheimer,Drama,Syncopy,UK,English,2023,\n\t\t\t\t\t\n\t\t\t\t\t181 mins,4.23,"2,163,845 ratings",31K fans,"2,611,340 members","472,979 lists","1,046,979 members"
6,Interstellar,Science Fiction,Legendary Pictures,UK,English,2014,\n\t\t\t\t\t\n\t\t\t\t\t169 mins,4.35,"2,445,086 ratings",194K fans,"3,493,990 members","445,197 lists","1,621,993 members"
7,Joker,Crime,Warner Bros. Pictures,Canada,English,2019,\n\t\t\t\t\t\n\t\t\t\t\t122 mins,3.84,"2,646,583 ratings",23K fans,"3,802,316 members","290,806 lists","1,552,543 members"
8,Dune,Science Fiction,Legendary Pictures,USA,English,2021,\n\t\t\t\t\t\n\t\t\t\t\t155 mins,3.90,"2,198,100 ratings",22K fans,"2,847,537 members","335,566 lists","1,059,535 members"
9,Spider-Man: Into the Spider-Verse,Adventure,Columbia Pictures,USA,English,2018,\n\t\t\t\t\t\n\t\t\t\t\t117 mins,4.42,"2,445,436 ratings",76K fans,"3,415,337 members","444,758 lists","1,757,390 members"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5825 entries, 0 to 5824
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Movie Name        5825 non-null   object
 1   Genre             5825 non-null   object
 2   Studio            5790 non-null   object
 3   Country           5809 non-null   object
 4   Primary Language  5825 non-null   object
 5   Release Year      5825 non-null   int64
 6   Duration          5825 non-null   object
 7   Avg Rating        5818 non-null   float64
 8   Raters            5818 non-null   object
 9   Fans              5825 non-null   object
 10  Watched           5819 non-null   object
 11  Lists             5819 non-null   object
 12  Likes             5819 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 591.7+ KB

As you can see from the results above, the initial dataset provided contained various columns with different data types and formats. To ensure data consistency and prepare the dataset for further analysis, several preprocessing steps were performed.

In [5]:
##df = df.drop(['Raters', 'Avg Rating'], axis=1)
##df.info()

In [6]:
def clean_duration(duration):
    if pd.isnull(duration):
        return duration
    try:
        return int(duration.strip().split()[0])
    except ValueError:
        return None

def clean_numeric(column):
    return column.apply(lambda x: int(x.replace(',', '').split()[0]) if pd.notnull(x) else x)

def convert_fans(fans):
    if pd.isnull(fans):
        return fans
    if 'K' in fans:
        return int(float(fans.replace('K', '').replace(' fans', '')) * 1000)
    else:
        return int(fans.replace(' fans', '').replace(' fan', ''))

These functions were designed to handle missing values, perform string manipulations, and apply the necessary transformations to ensure data consistency and integrity.

In [7]:
df['Release Year'] = df['Release Year'].apply(lambda x: int(x) if pd.notnull(x) else x)

df['Duration (minutes)'] = df['Duration'].apply(clean_duration)

df['Lists'] = clean_numeric(df['Lists'])

df['Likes'] = clean_numeric(df['Likes'])

df['Watched'] = clean_numeric(df['Watched'])

df['Raters'] = clean_numeric(df['Raters'])

df['Fans'] = df['Fans'].apply(convert_fans)

df.drop(columns=['Duration'], inplace=True)

The pre-processing performed on the data is as follows
1. Removing Commas from Numeric Values:
   - Explanation: Some numeric columns, such as 'Raters', 'Watched', 'Lists', and 'Likes', contained comma separators. These commas were removed to convert the values into proper numeric formats.
   - Rationale: Removing commas from numeric values is a common preprocessing step to ensure accurate data representation and enable subsequent numerical calculations or analyses.

2. Cleaning the 'Duration' Column:
   - Explanation: The 'Duration' column contained values with additional characters (e.g., '\\n', '\\t', and 'mins'). These extraneous characters were removed, leaving only the numeric portion representing the duration in minutes.
   - Rationale: Cleaning the 'Duration' column was necessary to extract the relevant numeric information and prepare the data for potential duration-related analyses or calculations.

3. Converting the 'Fans' Column:
   - Explanation: The 'Fans' column contained values with a mixture of numeric values and textual descriptions (e.g., '26K fans'). The cleaning process involved separating the numeric portion from the text, and converting the numeric value based on the presence of the 'K' notation, which typically represents thousands.
   - Rationale: Converting the 'Fans' column ensured consistency in representing fan counts as numeric values, enabling accurate comparisons and analyses involving fan data.

4. Converting the 'Release Year' to Integer:
   - Explanation: The 'Release Year' column was converted to integer type by removing any non-numeric characters, ensuring that the values represent valid years.
   - Rationale: Converting the 'Release Year' to integer format is a common preprocessing step for temporal data, enabling accurate sorting, filtering, and calculations involving release years.

5. Creating a New 'Duration (minutes)' Column:
   - Explanation: A new column 'Duration (minutes)' was created to store the cleaned duration values as integers, representing the duration in minutes.
   - Rationale: Separating the duration into a dedicated column with a consistent format (integer representing minutes) facilitates various analyses and operations involving movie durations, such as comparisons, summations, or calculations based on duration.

By performing these preprocessing steps, the dataset was transformed into a more standardized and consistent format, enabling reliable and accurate analyses on the cleaned data. The cleaned dataset is now ready for further exploration, modeling, or any desired analytical tasks.

In [8]:
df.head(10)

,Movie Name,Genre,Studio,Country,Primary Language,Release Year,Avg Rating,Raters,Fans,Watched,Lists,Likes,Duration (minutes)
0,Barbie,Comedy,LuckyChap Entertainment,UK,English,2023,3.86,2980018.0,26000,3658001.0,448304.0,1586062.0,114
1,Parasite,Comedy,Barunson E&A,South Korea,Korean,2019,4.56,2844133.0,90000,3801915.0,521089.0,2176138.0,133
2,Everything Everywhere All at Once,Science Fiction,IAC Films,USA,English,2022,4.30,2345715.0,130000,2908165.0,494949.0,1473174.0,140
3,Fight Club,Drama,Fox 2000 Pictures,Germany,English,1999,4.27,2568765.0,114000,3726744.0,415981.0,1719180.0,139
4,La La Land,Drama,Summit Entertainment,Hong Kong,English,2016,4.09,2285536.0,204000,3199145.0,462742.0,1422472.0,129
5,Oppenheimer,Drama,Syncopy,UK,English,2023,4.23,2163845.0,31000,2611340.0,472979.0,1046979.0,181
6,Interstellar,Science Fiction,Legendary Pictures,UK,English,2014,4.35,2445086.0,194000,3493990.0,445197.0,1621993.0,169
7,Joker,Crime,Warner Bros. Pictures,Canada,English,2019,3.84,2646583.0,23000,3802316.0,290806.0,1552543.0,122
8,Dune,Science Fiction,Legendary Pictures,USA,English,2021,3.90,2198100.0,22000,2847537.0,335566.0,1059535.0,155
9,Spider-Man: Into the Spider-Verse,Adventure,Columbia Pictures,USA,English,2018,4.42,2445436.0,76000,3415337.0,444758.0,1757390.0,117

In [9]:
null_counts = df.isna().sum(axis=1)
rows_with_nulls = df[null_counts >= 1]

In [10]:
rows_with_nulls

,Movie Name,Genre,Studio,Country,Primary Language,Release Year,Avg Rating,Raters,Fans,Watched,Lists,Likes,Duration (minutes)
420,Black Mirror: Hang the DJ,Science Fiction,NaN,UK,English,2017,3.96,106299.0,80,200489.0,16800.0,41160.0,51
530,Black Mirror: USS Callister,TV Movie,NaN,UK,English,2017,3.80,102999.0,35,195968.0,15757.0,35388.0,76
536,Black Mirror: Fifteen Million Merits,Science Fiction,NaN,NaN,English,2011,3.72,105026.0,39,206771.0,16291.0,32229.0,62
547,Black Mirror: The National Anthem,Drama,NaN,NaN,English,2011,3.37,104605.0,3,210711.0,15856.0,23626.0,44
573,Black Mirror: White Bear,Drama,NaN,NaN,English,2013,3.80,102153.0,47,197213.0,16407.0,31692.0,42
658,Black Mirror: Demon 79,Science Fiction,NaN,NaN,English,2023,3.28,84710.0,35,112607.0,13000.0,21669.0,74
699,Black Mirror: The Entire History of You,Drama,NaN,NaN,English,2011,3.72,97421.0,27,195035.0,15896.0,28537.0,49
787,Black Mirror: Black Museum,Science Fiction,NaN,UK,English,2017,3.90,93988.0,58,177553.0,14790.0,31509.0,69
881,Megalopolis,Drama,American Zoetrope,USA,English,2024,NaN,NaN,26,2531.0,13137.0,651.0,138
963,Black Mirror: Playtest,TV Movie,NaN,NaN,English,2016,3.60,86000.0,17,170389.0,14974.0,24110.0,57
1395,Black Mirror: The Waldo Moment,Thriller,NaN,NaN,English,2013,2.52,73244.0,2,151837.0,12491.0,9317.0,43
1397,Black Mirror: Crocodile,Science Fiction,NaN,UK,English,2017,3.19,69481.0,4,139926.0,12695.0,14028.0,59
1444,Wizards of Waverly Place: The Movie,TV Movie,NaN,USA,English,2009,3.09,62777.0,93,177442.0,11879.0,18147.0,94
1778,Black Mirror: Men Against Fire,Drama,NaN,UK,English,2016,3.13,58437.0,3,123513.0,11550.0,11063.0,60
1864,Twitches,Drama,NaN,USA,English,2005,3.02,42146.0,51,113305.0,17122.0,14786.0,86
1941,Yes Day,Comedy,Entertainment 360,USA,English,2021,NaN,NaN,0,NaN,NaN,NaN,86
2102,Sleepover,Comedy,NaN,USA,English,2004,2.79,32147.0,115,74018.0,13395.0,10672.0,89
2206,The Autopsy,Horror,NaN,USA,English,2022,3.73,37646.0,9,48898.0,8662.0,13753.0,59
2254,The Viewing,Horror,NaN,NaN,English,2022,3.45,32303.0,20,42325.0,8872.0,11829.0,57
2626,Anora,Drama,Cre Film,USA,English,2024,NaN,NaN,35,1839.0,5371.0,779.0,139
2646,The Open House,Thriller,NaN,USA,English,2018,1.44,41903.0,7,62942.0,8063.0,2345.0,94
2842,The Outside,Horror,NaN,USA,English,2022,3.17,30083.0,4,39224.0,7136.0,7519.0,65
3117,Mirrored Mind,Drama,NaN,Japan,Japanese,2005,3.87,8166.0,526,11193.0,5288.0,5383.0,61
3493,Bo Burnham: Inside,Comedy,NaN,USA,English,2021,4.20,389886.0,5100,576149.0,69137.0,222560.0,87
3698,The Murmuring,Horror,NaN,USA,English,2022,3.31,22307.0,3,29486.0,5919.0,6300.0,65
3782,Wendy Wu: Homecoming Warrior,TV Movie,NaN,USA,English,2006,2.69,25149.0,15,80950.0,6336.0,6184.0,90
4004,Dave Chappelle: Sticks & Stones,Comedy,NaN,USA,English,2019,3.69,24590.0,7,42869.0,3256.0,9435.0,65
4024,Dreams in the Witch House,Horror,NaN,USA,English,2022,2.44,22617.0,2,30179.0,5518.0,2712.0,63
4066,Sherlock: The Reichenbach Fall,TV Movie,NaN,NaN,English,2012,4.37,23271.0,120,58504.0,3554.0,11804.0,88
4102,Sherlock: A Scandal in Belgravia,Crime,NaN,NaN,English,2012,4.12,23694.0,48,59850.0,3457.0,10811.0,89
4104,Wavelength,Drama,NaN,Canada,No spoken language,1967,3.53,6760.0,86,13995.0,11504.0,3488.0,43
4966,Black Mirror: Joan Is Awful,TV Movie,NaN,NaN,English,2023,3.13,162247.0,8,217767.0,18236.0,35198.0,56
5169,God’s Own Country,Romance,BFI,UK,English,2017,NaN,NaN,0,NaN,NaN,NaN,105
5260,Euphoria: F*ck Anyone Who’s Not a Sea Blob,Drama,NaN,NaN,English,2021,4.21,124064.0,657,224827.0,16763.0,68662.0,48
5332,Don Jon,Comedy,Ram Bergman Productions,USA,English,2013,NaN,NaN,0,NaN,NaN,NaN,90
5362,Black Mirror: Loch Henry,TV Movie,NaN,NaN,English,2023,3.50,127728.0,12,168377.0,16023.0,33072.0,60
5396,Uncle Boonmee Who Can Recall His Past Lives,Fantasy,Illuminations Films,Thailand,Thai,2010,3.91,45147.0,968,NaN,NaN,NaN,114
5474,Mikey and Nicky,Drama,Paramount,USA,English,1976,NaN,NaN,0,NaN,NaN,NaN,106
5481,The Italian Job,Action,De Line Pictures,France,English,2003,NaN,NaN,0,NaN,NaN,NaN,110
5530,Black Mirror: Nosedive,Drama,NaN,NaN,English,2016,3.80,127560.0,53,246881.0,17961.0,42749.0,63
5620,Black Mirror: Shut Up and Dance,TV Movie,NaN,NaN,English,2016,4.10,116885.0,137,213140.0,17923.0,43507.0,52
5754,Pickman’s Model,Horror,NaN,USA,English,2022,2.89,26537.0,5,35223.0,6026.0,5048.0,64
5783,"Red, White and Blue",Drama,NaN,NaN,English,2020,3.80,17460.0,4,22764.0,9467.0,6154.0,80

In [11]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5782 entries, 0 to 5824
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Movie Name          5782 non-null   object
 1   Genre               5782 non-null   object
 2   Studio              5782 non-null   object
 3   Country             5782 non-null   object
 4   Primary Language    5782 non-null   object
 5   Release Year        5782 non-null   int64
 6   Avg Rating          5782 non-null   float64
 7   Raters              5782 non-null   float64
 8   Fans                5782 non-null   int64
 9   Watched             5782 non-null   float64
 10  Lists               5782 non-null   float64
 11  Likes               5782 non-null   float64
 12  Duration (minutes)  5782 non-null   int64
dtypes: float64(5), int64(3), object(5)
memory usage: 632.4+ KB

In [12]:
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5782 entries, 0 to 5824
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Movie Name          5782 non-null   object
 1   Genre               5782 non-null   object
 2   Studio              5782 non-null   object
 3   Country             5782 non-null   object
 4   Primary Language    5782 non-null   object
 5   Release Year        5782 non-null   int64
 6   Avg Rating          5782 non-null   float64
 7   Raters              5782 non-null   float64
 8   Fans                5782 non-null   int64
 9   Watched             5782 non-null   float64
 10  Lists               5782 non-null   float64
 11  Likes               5782 non-null   float64
 12  Duration (minutes)  5782 non-null   int64
dtypes: float64(5), int64(3), object(5)
memory usage: 632.4+ KB

In [13]:
df['Release Year'] = df['Release Year'].astype('int64')
df['Duration (minutes)'] = df['Duration (minutes)'].astype('int64')
df['Lists'] = df['Lists'].astype('int64')
df['Likes'] = df['Likes'].astype('int64')
df['Watched'] = df['Watched'].astype('int64')
df['Fans'] = df['Fans'].astype('int64')
df['Raters'] = df['Raters'].astype('int64')

In [14]:
df.head(10)

,Movie Name,Genre,Studio,Country,Primary Language,Release Year,Avg Rating,Raters,Fans,Watched,Lists,Likes,Duration (minutes)
0,Barbie,Comedy,LuckyChap Entertainment,UK,English,2023,3.86,2980018,26000,3658001,448304,1586062,114
1,Parasite,Comedy,Barunson E&A,South Korea,Korean,2019,4.56,2844133,90000,3801915,521089,2176138,133
2,Everything Everywhere All at Once,Science Fiction,IAC Films,USA,English,2022,4.30,2345715,130000,2908165,494949,1473174,140
3,Fight Club,Drama,Fox 2000 Pictures,Germany,English,1999,4.27,2568765,114000,3726744,415981,1719180,139
4,La La Land,Drama,Summit Entertainment,Hong Kong,English,2016,4.09,2285536,204000,3199145,462742,1422472,129
5,Oppenheimer,Drama,Syncopy,UK,English,2023,4.23,2163845,31000,2611340,472979,1046979,181
6,Interstellar,Science Fiction,Legendary Pictures,UK,English,2014,4.35,2445086,194000,3493990,445197,1621993,169
7,Joker,Crime,Warner Bros. Pictures,Canada,English,2019,3.84,2646583,23000,3802316,290806,1552543,122
8,Dune,Science Fiction,Legendary Pictures,USA,English,2021,3.90,2198100,22000,2847537,335566,1059535,155
9,Spider-Man: Into the Spider-Verse,Adventure,Columbia Pictures,USA,English,2018,4.42,2445436,76000,3415337,444758,1757390,117

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5782 entries, 0 to 5824
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Movie Name          5782 non-null   object
 1   Genre               5782 non-null   object
 2   Studio              5782 non-null   object
 3   Country             5782 non-null   object
 4   Primary Language    5782 non-null   object
 5   Release Year        5782 non-null   int64
 6   Avg Rating          5782 non-null   float64
 7   Raters              5782 non-null   int64
 8   Fans                5782 non-null   int64
 9   Watched             5782 non-null   int64
 10  Lists               5782 non-null   int64
 11  Likes               5782 non-null   int64
 12  Duration (minutes)  5782 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 632.4+ KB

In [16]:
df.describe()

,Release Year,Avg Rating,Raters,Fans,Watched,Lists,Likes,Duration (minutes)
count,5782.000000,5782.000000,5.782000e+03,5782.000000,5.782000e+03,5782.000000,5.782000e+03,5782.000000
mean,2001.329644,3.370865,1.520578e+05,2011.408682,2.473017e+05,38644.395192,6.144624e+04,109.388620
std,20.439581,0.588133,2.773260e+05,8155.814601,4.403565e+05,54184.983922,1.488331e+05,24.411204
min,1911.000000,0.880000,1.408000e+03,0.000000,1.903000e+03,2585.000000,5.540000e+02,41.000000
25%,1992.000000,3.010000,2.739125e+04,64.000000,4.238000e+04,10916.250000,7.722000e+03,95.000000
50%,2007.000000,3.460000,5.542000e+04,221.000000,8.975950e+04,19220.500000,1.604300e+04,105.000000
75%,2017.000000,3.810000,1.371162e+05,852.750000,2.294178e+05,40741.750000,4.420625e+04,120.000000
max,2024.000000,4.640000,2.980018e+06,204000.000000,3.802316e+06,521089.000000,2.176138e+06,743.000000

In [17]:
df.to_csv('letterbxd_preprocessed.csv', index=False)